#---------------------------------------
# Github Actions 
# 
# Copyleft (c) by Evgeny Onopriyko 2020
#---------------------------------------
name: Github-Actions-Deploy

on:
  push:
    branches: [ main ]

jobs:
  build:
    
    runs-on: ubuntu-latest

    
    steps:
      - name: Clone my repo
        uses: actions/checkout@v1
        
      - name: Run a one-line script
        run: ll -la
        
      - name: docker version
        run: docker --version
        
      - name: DPKG -L
        run: dpkg -l


